
.textField .icon-container {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário para o ícone */
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1; /* Garante que o ícone esteja acima do campo de texto */
}