.passwordField {
    position: relative;
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.passwordField input {
    width: 100%;
    padding-right: 35px; /* Ajuste conforme necessário para o ícone */
    box-sizing: border-box;
}

.passwordField .icon-container {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário para o ícone */
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1; /* Garante que o ícone esteja acima do campo de texto */
}